<!-- <button
  class="py-2 px-3 m-2 bg-blue-500 hover:bg-nav-hover-blue rounded-md text-white"
>
  Click Here!
</button>
<button
  class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-400"
>
  Hello
</button>
<h1 class="text-3xl font-bold underline">Hello world!</h1> -->

<!-- <ng-container *ngIf="data$ | async as data"> -->
<!-- <ng-container *ngrxLet="data$; let data; let e = $error; let c = $complete">
  <h1 class="text-3xl font-bold underline">Home!!!</h1>
  <div *ngIf="data.isLoading">loading...</div>
  <div *ngIf="!data.isLoading">
    {{ data.data?.result?.access_token }}
  </div>
  <ng-container> There is an error: {{ e }} </ng-container>
  <ng-container> There is an error: {{ data | json }} </ng-container>
  <ng-container *ngIf="c"> Observable completed: {{ c }} </ng-container>
</ng-container>
<app-banner [form]="form" [skeleton]="skeleton"></app-banner> -->
<!-- <app-list-hospital
  [form]="form"
  (isLoadingHospitals)="skeleton = $event"
></app-list-hospital> -->

<h1 class="text-3xl font-bold underline">YouMed HomePage!!!</h1>
<!-- <app-banner [form]="form" [skeleton]="skeleton"></app-banner> -->
