<div class="">
  <div class="wrapper-info">
    <div class="error-top">
      <img src="./assets/img/error/error500.webp" />
    </div>
    <div class="error-bottom">
      <div class="error-bottom__title" style="text-align: center">
        <span class="spn-error"
          >Đã có lỗi xảy ra, xin vui lòng tải lại trang</span
        >
      </div>
      <div class="error-bottom__button">
        <a class="btn-back-home point" (click)="reloadPage()"
          ><span>Tải lại trang</span></a
        >
      </div>
    </div>
  </div>
</div>
