<section class="download mt-5">
  <div
    class="m-auto tui-container tui-container_adaptive download-content tui-row tui-row_adaptive justify-content-center align-items-center h-100"
  >
    <div class="tui-col_xs-12 tui-col_md-6 text-left-sm">
      <h3 class="text-white tui-text_bold pt-10 pt-md-0 tui-text_h6 pt-16-sm">
        Tải ứng dụng YouMed
      </h3>
      <p class="text-white pb-10 pb-md-0 pt-16-sm">
        Dễ dàng tìm kiếm bác sĩ giỏi, đặt lịch khám trực tuyến, lưu trữ lịch sử
        khám, đồng thời cập nhật thông tin sức khỏe chính thống được viết bởi
        Bác sĩ/Dược sĩ.
      </p>
      <div
        class="buttons-download d-flex align-items-center img-download pt-16-sm"
      >
        <a
          href="https://play.google.com/store/apps/details?id=com.youmed.info"
          data-wpel-link="exclude"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="./assets/img/booking/chplay.webp"
            class="img-md img-sm"
            alt="Ch play"
          />
        </a>
        <a
          href="https://itunes.apple.com/gb/app/youmed/id1466077723?mt=8"
          data-wpel-link="exclude"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="img-md img-sm"
            src="./assets/img/booking/appstore.webp"
            alt="Appstore"
          />
        </a>
      </div>
    </div>
    <div class="tui-col_xs-12 tui-col_md-6 h-100 d-flex mt-5 mt-md-0 mt-16-sm">
      <img
        class="mt-auto mx-auto"
        src="./assets/img/booking/iphone-mockup.webp"
        alt="Tải ứng dụng"
      />
    </div>
  </div>
</section>
