<div class="">
  <div class="wrapper-info">
    <div class="error-top">
      <img src="./assets/img/error/error404.webp" />
    </div>
    <div class="error-bottom">
      <div class="error-bottom__title" style="text-align: center">
        <span class="spn-error"
          >Truy cập của bạn có thể bị lỗi hoặc không tìm thấy nội dung</span
        >
      </div>
      <div class="error-bottom__button">
        <a class="btn-back-home point" (click)="backToHome()"
          ><span>Về trang chủ</span></a
        >
      </div>
    </div>
  </div>
</div>
