<ng-container *ngIf="currentStep === 'phone'">
  <!-- Nhập số điện thoại -->
  <form
    class="text-left"
    [formGroup]="form_phone"
    *ngIf="form_phone"
    (ngSubmit)="submitPhoneNumber()"
    (keyup.enter)="submitPhoneNumber()"
  >
    <label label="Vui lòng nhập số điện thoại để tiếp tục" class="mb-5">
      <input class="b-form" formControlName="phoneNumber" appNumber />
      (+84)
    </label>
    <button
      type="submit"
      size="m"
      class="w-100"
      [disabled]="!form_phone.valid || loading"
    >
      Tiếp tục
    </button>
  </form>
</ng-container>

<!-- Nhập OTP -->
<ng-container *ngIf="currentStep === 'otp'">
  <form
    class="text-left"
    [formGroup]="form_otp"
    *ngIf="form_otp"
    (ngSubmit)="submitOTP()"
    (keyup.enter)="submitOTP()"
  >
    <label label="Vui lòng nhập mã 6 số đã gửi cho bạn qua số điện thoại">
    </label>
    <div class="text-center d-flex justify-content-center">
      <input
        class="input-otp"
        [ngClass]="{ inputted: form_otp.controls['otp1'].value }"
        type="text"
        maxlength="1"
        formControlName="otp1"
        id="otp1"
        (keyup)="otpKeyUpEvent(1, $event)"
        (focus)="otpFocusEvent(1)"
        appNumber
      />
      <input
        class="input-otp"
        [ngClass]="{ inputted: form_otp.controls['otp2'].value }"
        type="text"
        maxlength="1"
        formControlName="otp2"
        id="otp2"
        (keyup)="otpKeyUpEvent(2, $event)"
        (focus)="otpFocusEvent(2)"
      />
      <input
        class="input-otp"
        [ngClass]="{ inputted: form_otp.controls['otp3'].value }"
        type="text"
        maxlength="1"
        formControlName="otp3"
        id="otp3"
        (keyup)="otpKeyUpEvent(3, $event)"
        (focus)="otpFocusEvent(3)"
      />
      <input
        class="input-otp"
        [ngClass]="{ inputted: form_otp.controls['otp4'].value }"
        type="text"
        maxlength="1"
        formControlName="otp4"
        id="otp4"
        (keyup)="otpKeyUpEvent(4, $event)"
        (focus)="otpFocusEvent(4)"
      />
      <input
        class="input-otp"
        [ngClass]="{ inputted: form_otp.controls['otp5'].value }"
        type="text"
        maxlength="1"
        formControlName="otp5"
        id="otp5"
        (keyup)="otpKeyUpEvent(5, $event)"
        (focus)="otpFocusEvent(5)"
      />
      <input
        class="input-otp"
        [ngClass]="{ inputted: form_otp.controls['otp6'].value }"
        type="text"
        maxlength="1"
        formControlName="otp6"
        id="otp6"
        (keyup)="otpKeyUpEvent(6, $event)"
        (focus)="otpFocusEvent(6)"
      />
    </div>

    <button
      type="submit"
      size="m"
      class="w-100 mt-5 mb-3"
      [disabled]="!form_otp.valid || loading"
    >
      Tiếp tục
    </button>
    <span class="text-grey mb-5 d-block point"
      >Bạn không nhận được mã xác thực?
      <span class="text-blue" (click)="resendOTP()"
        >Gửi lại
        <ng-container *ngIf="timeReSendOTP !== 0">
          ({{ timeReSendOTP | date: "mm:ss" }}s)
        </ng-container>
      </span>
    </span>
  </form>
</ng-container>

<!-- Nhập Password -->
<ng-container *ngIf="currentStep === 'password'">
  <form
    class="text-left"
    [formGroup]="form_password"
    *ngIf="form_password"
    (ngSubmit)="submitPassword()"
    (keyup.enter)="submitPassword()"
  >
    <label class="tui-text_bold mb-3 d-block">Tạo mật khẩu</label>
    <div class="mb-3">
      <input formControlName="password" appNumber />
      Nhập mật khẩu
    </div>
    <div class="mb-3">
      <input formControlName="retypePassword" appNumber />
      Xác nhận mật khẩu
    </div>
    <span
      class="text-grey mb-5 d-block point d-flex align-items-center"
      [ngClass]="{
        'text-green': form_password.valid
      }"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M20.0484 6.35161C20.2734 6.57664 20.3997 6.88181 20.3997 7.20001C20.3997 7.5182 20.2734 7.82337 20.0484 8.04841L10.4484 17.6484C10.2234 17.8734 9.9182 17.9997 9.6 17.9997C9.2818 17.9997 8.97663 17.8734 8.7516 17.6484L3.9516 12.8484C3.73301 12.6221 3.61206 12.319 3.61479 12.0043C3.61753 11.6897 3.74373 11.3887 3.96622 11.1662C4.18871 10.9437 4.48968 10.8175 4.80432 10.8148C5.11895 10.8121 5.42208 10.933 5.6484 11.1516L9.6 15.1032L18.3516 6.35161C18.5766 6.12664 18.8818 6.00026 19.2 6.00026C19.5182 6.00026 19.8234 6.12664 20.0484 6.35161Z"
          [attr.fill]="form_password.valid ? '#34b41f' : '#1B1F3B'"
          fill-opacity="0.65"
        />
      </svg>
      Mật khẩu gồm 6 số</span
    >
    <button
      type="submit"
      size="m"
      class="w-100"
      [disabled]="!form_password.valid || loading"
    >
      Xác nhận
    </button>
  </form>
</ng-container>
<span
  class="text-grey mb-5 mt-5 d-block point"
  *ngIf="currentStep !== 'phone'"
  (click)="changePhoneNumber()"
  >Đổi số điện thoại
</span>
