<section class="login">
  <div class="box">
    <div class="text-center login-content">
      <div>
        <img
          class="mb-4"
          src="./assets/img/booking/logo_login.webp"
          alt="LOGO YOUMED"
          width="170"
          height="152"
        />
        <div
          class="form"
          *ngIf="activeItemIndex === 0 || activeItemIndex === 1"
        >
          <div class="mb-5">
            <button>Đăng nhập</button>
            <button>Đăng ký</button>
          </div>
          <!-- FORM LOGIN -->
          <form
            *ngIf="activeItemIndex === 0"
            [formGroup]="form"
            (ngSubmit)="login()"
            (keyup.enter)="login()"
          >
            <div class="mb-5">
              <input class="b-form" formControlName="username" appNumber />
              Số điện thoại
            </div>
            <div class="mb-5">
              <input class="b-form" formControlName="password" appNumber />
              Mật khẩu
            </div>
            <input type="checkbox" name="remember" id="remember" checked />
            <label for="remember"> Ghi nhớ mật khẩu</label><br />

            <!-- [disabled]="!form.valid" -->
            <button type="submit" size="m" class="w-100 login-button">
              Đăng nhập
            </button>
          </form>
          <!-- FORM REGISTER -->
          <app-register
            *ngIf="activeItemIndex === 1"
            (evtSwitchTabLogin)="activeItemIndex = 0"
          ></app-register>
        </div>
        <a
          [routerLink]="['/user/forgot-password']"
          class="tui-text_bold mt-6 mb-6 d-block text-blue"
          >Quên mật khẩu</a
        >
      </div>
    </div>
  </div>
</section>
<!-- NOTE : Tạm thời ẩn trên mobile -->
<span
  class="license text-grey text-center w-100 position-fixed tui-text_body-s-2 z-index-16 d-none-sm"
>
  © 2021 YouMed. All Rights Reserved.
</span>
